/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*------------------------ my custom style --------------------------------*/

/* font style normalize */
h1 , h2, h3, h4, h5, h6, p , a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.page-bg {
  background: radial-gradient(90.38% 292.09% at 8.58% 9.3%, #C4C4C4 0%, #E6E6E6 29.69%, #FFFFFF 90.63%);
  width: 100%;
  height: 100vh;
}
/*application grid section*/
.app-grid {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* media query */

/* main style */
.brand-section {
  width: 1054px;
  height: auto;
  display: flex;
  justify-content: space-between;
  /* outline: 1px solid red; */
}

.app-name {
  font-family: Roboto, sans-serif;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 59px;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

.app-name-mirror {
  font-family: Roboto, sans-serif;
  background: -webkit-linear-gradient(rgba(255,255,255, 0.5) 0%, rgba(255,255,255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 59px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  margin: 0;
  padding: 0;
}
/* button controller section */
.controler-section {
  display: flex;
  justify-content: space-between;
  width: 1053px;
  margin-top: -18px;
}

.btn-start {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/img/start_arrow_button.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  width: 154px;
  height: 45px;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
}

.btn-active-state {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/img/gradient_arrow_button.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  width: 154px;
  height: 45px;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/img/white_arrow_button.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  width: 154px;
  height: 45px;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
}

.btn:hover {
  background-image: url(/img/gradient_arrow_button.svg);
}
/* special hover effect  */
.btn:hover>a {
  color: #595454;
}

.btn-result:hover>a {
  color: #595454;
}
/* --------------------- */
.btn-result {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/img/result_white_button.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  width: 154px;
  height: 45px;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
}

.btn-result-active {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/img/result_gradient_button.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  width: 154px;
  height: 45px;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
}

.btn-result:hover {
  background-image: url(/img/result_gradient_button.svg);
}

/* class .btn-text-active always will be first   */
.btn-text-static>a {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #C2BDBD;
  text-decoration: none;
}

/* keep this class always after .btn-text-static>a  */
.btn-text-active>a {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #595454;
  text-decoration: none;
}

/* info block */
.info-section {
  position: relative;
  width: 1052px;
  height: 145px;
  margin-top: 20px;
  background: linear-gradient(180deg, rgba(252, 252, 252, 0) 0%, #FCFCFC 49.48%, rgba(252, 252, 252, 0) 100%);
  box-shadow: inset 0px -6px 11px rgba(0, 0, 0, 0.15), inset 0px 6px 11px rgba(0, 0, 0, 0.15);
}

.info-section div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-section h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  width: 966px;
}

.info-section p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  width: 966px;
  margin: 0;
}


.ellipse-faq-btn {
  position: absolute;
  top: 8px;
  left: 1023px;
  display: inline-block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: linear-gradient(143.81deg, #C4C4C4 23.02%, #FFFFFF 102.04%);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #565656;
}
/* content block */
  /* index-page */
.content-section {
  width: 1052px;
  height: 407px;
  margin-top: 10px;
  background: linear-gradient(180deg, rgba(252, 252, 252, 0) 0%, #FCFCFC 49.48%, rgba(252, 252, 252, 0) 100%);
  box-shadow: inset 0px -6px 11px rgba(0, 0, 0, 0.15), inset 0px 6px 11px rgba(0, 0, 0, 0.15);
  display: flex;
  position: relative;
}

.content-section-banner  {
  width: 1000px;
  height: 366px;
  background: url(/img/slider/slider_1.jpg);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  margin: auto;
}

.slider-dots {
  position: relative;
  top: 90%;

}

.slider-dots ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-dots ul li {
  display: inline-block;
  background-color: #CDCDCD;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-right: 4px;
}

.btn-next-step {
  position: absolute;
  z-index: 1;
  top: 352px;
  left: 903px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/img/step_button.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  width: 134px;
  height: 45px;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
}

.btn-next-step>a {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #595454;
  text-decoration: none;
}

/* room-shape-page */
.content-box {
  width: 1000px;
  height: 366px;
  overflow: hidden;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* outline: 1px solid red; test area */
}

.object-container {
 width: 230px;
 height:340px;
 position: relative;
 /* outline: 1px solid green; test area */
}

/* rectangular, l-shape, t-shape */
.rectangular>img {
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 205px;
    height: auto;
    margin: auto;
}

.btn-select {
  position: absolute;
    top: 296px;
    left: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/img/step_button.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  width: 134px;
  height: 45px;
}

#btn-rectangular::before {
  content: url(/img/selection-marker.svg);
  width: 17px;
  position: absolute;
  left: -5%;
  top: 15px;
}

.btn-select>a {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #595454;
  text-decoration: none;
}

/* room-size-page */
.content-section-grid {
  width: 1052px;
  height: 407px;
  margin-top: 10px;
  background: linear-gradient(180deg, rgba(252, 252, 252, 0) 0%, #FCFCFC 49.48%, rgba(252, 252, 252, 0) 100%);
  box-shadow: inset 0px -6px 11px rgba(0, 0, 0, 0.15), inset 0px 6px 11px rgba(0, 0, 0, 0.15);
  display: flex;
  position: relative;
  justify-content: space-around;
}

.content-section-grid::before {
  content: "";
  position: absolute;
  background-image: url(/img/millimeters-grid.svg);
  width: 100%;
  height: 407px;
  opacity: 5%;
  z-index: 0;
}

.constructor-box {
  position: inherit;
  z-index: 1;
  width: 820px;
  height: 366px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* outline: 1px solid red; test area */
}

.button-box {
  position: unset;
  z-index: 1;
  width: 166px;
  height: 366px;
  margin: auto;
  /* outline: 1px solid green; */
}

.box_btn-style {
  height: 31px;
  background: linear-gradient(180deg, #D8D8D8 0%, #FFFFFF 43.75%, #F2F2F2 100%);
  border: 0.3px solid #D5D5D5;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  border-radius: 9px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #696868;
  margin-bottom: 10px;
}

.box_btn-style:hover {
  color: #C2BDBD;
  cursor: pointer;
}

.box_btn-style-black {
  background: linear-gradient(180deg, #7C7C7C 0%, #101010 8.85%, #101010 47.4%, #101010 86.98%, #7C7C7C 100%);
  width: 112px;
  height: 28px;
  border: 0.3px solid #ADADAD;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4), inset 1px 4px 4px rgba(255, 255, 255, 0.39);
  border-radius: 9px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: white;
  float: right;
  margin-bottom: 37px;
}

.box_btn-style-black:hover {
  cursor: pointer;
}

#room-size-count {
  clear: both;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
}

sup {
  font-size: 12px;
}

/* cold - spot */
.bin-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 190px;
  outline: 3px dotted grey;
}

.bin-area span {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #DBDADA;
}

.bin-area span::before {
  content: url(/img/bucket.svg);
  position: absolute;
  left: 35%;
  bottom: 24px;
}

/* floor - type */
.info-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 190px;
}

.info-area span {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #E82B2B;
}

.top-covering, .subfloor-covering {
  display: flex;
  align-items: center;
}

.top-covering h2, .subfloor-covering h2 {
  font-size: 1.5em;
  font-weight: 500;
}

.top-covering ul, .subfloor-covering ul {
  list-style: none;
}

.top-covering ul li, .subfloor-covering ul li {
  display: inline-block;
  position: relative;
  padding-right: 60px;
}

.top-covering ul li label, .subfloor-covering ul li label {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  font-family: Roboto;
  font-weight: 500;
}

.top-covering ul li input, .subfloor-covering ul li input {
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 118px;
}

.form-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-logo img  {
  width: 95px;
  height: 30px;
  margin-right: 13px;
}

.form-logo hr {
  width: 424px;
  border-top: 5px solid #FE5D5D;
}

.icon_unburnuble {
  background-image: url(/img/uburnable_icon.svg);
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  position: absolute;
  margin: 8px;
}

.icon_burnable {
  background-image: url(/img/burnable_icon.svg);
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  position: absolute;
  margin: 8px;
}

.button-box button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/img/step_button.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  width: 134px;
  height: 45px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 45px;
  text-align: center;
  color: #595454;
  background-color:rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 352px;
  left: 903px;
}

/* for checkbox custom style
https://css-tricks.com/the-checkbox-hack/#top-of-site
*/
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: 106px;
  opacity: 0;
  width: 36px;
  height: 36px;
  top: 90px;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) label,
[type="checkbox"]:checked label {
  position: absolute;
  z-index: 0;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 105px;
  top: 90px;
  width: 37px;
  height: 37px;
  background: linear-gradient(165.82deg, #FFFFFF 10.09%, #FBFBFB 66.11%, #C4C4C4 107.05%);
  border: 1px solid #D7D7D7;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .275s;
      transition: all .275s;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "";
  width: 36px;
  position: absolute;
  left: 105px;
  -webkit-transition: all .2s;
  transition: all .2s;
  top: 90px;
  height: 36px;
  background-image: url(/img/selection-marker.svg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: all .2s;
      transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0) rotate(45deg);
      transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
      transform: scale(1) rotate(0);
}

/* Disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #e9e9e9;
}

[type="checkbox"]:disabled:checked + label:after {
  color: #777;
}

[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* thermostat - page */

.product-box {
  width: 222px;
  height: 320px;  
  position: absolute;
  left: 60px;
  box-shadow: inset 0px -6px 11px rgba(0, 0, 0, 0.15), inset 0px 6px 11px rgba(0, 0, 0, 0.15);
  background: url(/img/Veria-Wireless-Clickkit2.jpg) no-repeat center;
}

.btn-accept-product {
  position: absolute;
  z-index: 1;
  top: 290px;
  left: 107px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/img/step_button.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  width: 134px;  
  height: 45px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #595454;
  cursor: pointer;
}

.info-area-thermostat {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #9D9B9B;
  display: flex;
  height: 100%;
  align-items: center;
}

#btn-continue-thermostat {
  visibility: hidden;
}

/* result - page */
.calculation-process {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #8C8C8C;
}

@keyframes rotating {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(-180deg); }
}

.calculation-process::before {
  content: "";
  background: url(/img/loading.png);
  width: 50px;
  height: 50px;
  display: inline-block;
  position: absolute;
  top: -100px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: rotating 4s ease infinite;
}

.printing-project {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #8C8C8C;
  display: none;
}

.printing-project::before {
  content: "";
  background: url(/img/loading.png);
  width: 50px;
  height: 50px;
  display: inline-block;
  position: absolute;
  top: -100px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: rotating 4s ease infinite;
}

.block-button {
  display: flex;
  position: absolute;
  bottom: -12px;
  right: -100px;

}

.btn-notes {
  width: 115px;
  height: 44px;
  background: linear-gradient(0deg, rgba(251,166,0,1) 0.02%, rgba(252,219,0,1) 100%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 45px;
  text-align: center;
  color: #595454;
  cursor: pointer;
}

.btn-notes-loading {
  width: 115px;
  height: 44px;
  background: linear-gradient(180deg, #D0D0D0 0%, #D0D0D0 0.01%, #E9E7E7 8.85%, rgba(252, 252, 252, 0.94) 30.73%, rgba(252, 252, 252, 0.94) 77.08%, #E9E7E7 93.23%, #D0D0D0 100%);
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 45px;
  text-align: center;
  color: #D7D7D7;
  cursor: default;
}

.btn-list {
  width: 223px;
  height: 44px;
  background: linear-gradient(0deg, rgba(251,166,0,1) 0.02%, rgba(252,219,0,1) 100%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 45px;
  margin: 0 10px;
  text-align: center;
  color: #595454;
  cursor: pointer;
}

.btn-list-loading {
  width: 223px;
  height: 44px;
  background: linear-gradient(180deg, #D0D0D0 0%, #D0D0D0 0.01%, #E9E7E7 8.85%, rgba(252, 252, 252, 0.94) 30.73%, rgba(252, 252, 252, 0.94) 77.08%, #E9E7E7 93.23%, #D0D0D0 100%);
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 45px;
  margin: 0 10px;
  text-align: center;
  color: #D7D7D7;
  cursor: default;
}

.btn-print-project {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/img/step_button.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  width: 134px;
  height: 45px;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
}

.btn-print-project>a {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #595454;
  text-decoration: none;
}

.btn-print-project-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/img/result_page_btn_not_active.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  width: 134px;
  height: 45px;
}

.btn-print-project-loading>a {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #D7D7D7;
  text-decoration: none;
  cursor: default;
}

.calculation-complete {
  position: absolute;
  top: 0;
  font-family: 'Roboto';
  font-size: 18px;
  color: #636363;
  right: -90px;
  visibility: hidden;
}


/*---end------end------end--- my custom style ---end------end------end---*/
